@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black-100: oklch(0.173 0 0);
  --color-black-200: #171717;
  --color-button-bg: #5a5a5a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.173 0 0);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
.angular-gradient {
  background: conic-gradient(
    from 180deg at 50% -30%,
    #3A5761 0%,
    #3A5761 1%,
    #000000 9%,
    #000000 91%,
    #3A5761 100%,
    #3A5761 99%
  );
}
.hero-gradient{
background: radial-gradient(131.27% 131.27% at 50% 131.27%, #000000 61.54%, #1E1737 73.56%, #403077 83.17%, #733CB7 94.23%, #816AB7 100%)
}
@media (max-width: 500px) {
  .angular-gradient {
    background: conic-gradient(
      from 200deg at 90% -15%,
        #3A5761 0%,
        #3A5761 1%,
        #000000 7%,
        #000000 93%,
        #3A5761 100%,
        #3A5761 99%
    );
  }
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.flickering-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #525050 0%, #fff 50%, #525050 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
  animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -100% center;
  }
  100% {
    background-position: 100% center;
  }
}
html {
  scroll-behavior: smooth;
}