@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black-100: oklch(0.173 0 0);
  --color-black-200: #171717;
  --color-button-bg: #5a5a5a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.173 0 0);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css or your component's module.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 4px;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
.angular-gradient {
  background: conic-gradient(
    from 180deg at 50% -30%,
    #3A5761 0%,
    #3A5761 1%,
    #000000 9%,
    #000000 91%,
    #3A5761 100%,
    #3A5761 99%
  );
}